<h1>Cart:</h1>
<div id="products-container"></div>
<div id="total-container"></div>
<script>
    const user = {{{user}}}; // Triple mustache para escapar correctamente JSON
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/carts.js"></script>
